body {
  background-image: url(/img/meleebckgrnd.png);
  background-size: cover;
}
.App {
  text-align: center;
  margin: 0;
}

$red-color: #a71010;

a{
  outline: 0;
}

.content {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
}

.spacer {
  width: 100%;
  height: 80px;
}

.navbar {
  background-color: #333;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: beige;
  padding: 15px;
  &:hover {
    background-color: black;
    color: $red-color;
  }
}

.logo-img {
  max-width: 300px;
  position: absolute;
  top: 0;
}

.footer {
  clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%);
  height: 55px;
  width: 720px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #333;
}

.bottom-nav {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 55px;
}
.bottom-nav-link {
  color: beige;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.bottom-nav-link:hover {
  background-color: black;
  color: $red-color;
}

/* char css */

.char-portrait {
  max-width: 200px;
}


// Tier List

.tier-list{
  padding:50px 0 0 0;
}

.tier{
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.tier-letter{
  font-size: 80px;
  color: $red-color;
  padding: 0 30px 90px 0;
}
.character-tier{
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
  align-items: center;
  width: fit-content;
}

.char{
  display: flex;
  justify-items: center;
  padding: 0 10px;
  a{
    text-decoration: none;
  }
}

.tier-char-name{

  color: #333;
}

.char-portrait-tier{
  max-width: 150px;
  background: linear-gradient(24deg, rgba(2,0,36,1) 0%, rgba(121,9,55,1) 72%, rgba(153,2,2,1) 100%);
  padding: 5px;
  border-radius: 12%;
  &:hover{
    transition-duration: 500ms;
    transition: ease-in-out;
    background: rgb(2,0,36);
    background: linear-gradient(210deg, rgba(2,0,36,1) 0%, rgba(121,9,55,1) 72%, rgba(153,2,2,1) 100%); 
  }
}